.reviewItem {
  background-color: #f5f3ff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.reviewUser {
  font-family: "Pretendard-Semibold";
  font-size: 18px;
  margin-bottom: 6px;
}

.starRating {
  width: 100px;
  height: 16px;
  position: relative;
  margin-right: 12px;
}

.starRatingDown {
  width: 100px;
  height: 16px;
}

.starRatingDown img {
  width: 18px;
  height: 16px;
  margin: 0px 1px;
}

.starRatingUp {
  width: 100px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.starRatingUp img {
  width: 18px;
  height: 16px;
  margin: 0px 1px;
}

.ratingNBuy {
  display: flex;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.userReview {
  width: 800px;
  line-height: 200%;
  white-space: pre-wrap;
}

.reviewItemHr {
  margin: 14px 0;
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.replyBtn {
  width: 131px;
  height: 38px;
  flex-shrink: 0;
  border: 2px solid #604ef8;
  border-radius: 5px;
  background: #fff;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.5px;
}

.replyInput {
  width: 100%;
  height: 95px;
  flex-shrink: 0;
  background: #fff;
  padding: 26px 21px;
  box-sizing: border-box;
  font-size: 16px;
  border: 0px;
  font-family: "Pretendard-Regular";
}

.replyForm {
  position: relative;
  margin-top: 14px;
}

.submintBtn {
  font-family: "Pretendard-Regular";
  width: 64px;
  height: 44px;
  border: none;
  background-color: #fff;
  font-size: 16px;
  position: absolute;
  top: 26px;
  right: 5px;
}

.reply {
  line-height: 200%;
  position: relative;
}

.replyModifyBtn {
  position: absolute;
  top: 0px;
  right: 5px;
  display: flex;
}

.replyModifyBtn button {
  font-family: "Pretendard-Regular";
  width: 64px;
  height: 31px;
  border: none;
  background-color: #f5f3ff;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review {
  display: flex;
  justify-content: space-between;
}

.reviewEtc {
  position: relative;
  width: 280px;
}

.reviewEtc img {
  width: 150px;
  height: 150px;
}

.replyText {
  width: 90%;
}

.reportBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  position: absolute;
  top: 28px;
  right: 20px;
}

.reportBtn svg {
  margin-bottom: 4px;
}
