.nav_btn {
  width: 85px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  cursor: pointer;
}

.nav_btn:hover,
.nav_btn:active {
  background: #eaeaea;
}
