.outer-container {
  box-sizing: border-box;
  min-width: 1145px;
  min-height: 208px;
  width: 100%;
  height: 18%;
  background-color: #f5f3ff;
  border: 1px solid black;
  border-left: transparent;
}

.inner-container {
  margin: 30px 50px 0px 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-container {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.time {
  flex-grow: 1;
  margin-right: 19px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.5px;
  font-family: "Abhaya Libre";
}

.order-number-container {
  margin-top: 15px;
  border: 1px solid black;
  background-color: #fff;
  width: 104px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-number {
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.top-menu {
  display: flex;
  flex-direction: row;
}

.p-margin {
  margin: 0px;
}

.menu {
  color: #000;
  margin-top: 5px;
  font-family: "Abhaya Libre";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: 0.5px;
}

.count {
  margin-bottom: 19px;
  margin-right: 23px;
}

.menu-detail {
  margin-bottom: 13px;
}

.order-request {
  margin-top: 35px;
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 15px */
  letter-spacing: 0.5px;
}

.ispayment-button {
  width: 102px;
  height: 27px;
  border: 1px solid #000;
  background: #fff;
  margin-right: 9px;
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 13px */
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-div {
  display: flex;
  flex-direction: row;
}

.btn {
  width: 150px;
  margin: 0px;
  height: 100%;
  color: #604ef8;
  background-color: transparent;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: 0.5px;
  border: 2px solid #604ef8;
}

.order-print {
  margin-right: 10px;
}

.order-cancel {
  margin-right: 10px;
}

.do-order {
  margin-right: 10px;
}

.btn:hover {
  background-color: white;
}
