.outer-container {
    padding-top: 72px;
    margin: 0px 0px 0px 202px;
    display: flex;
    flex-direction: row;
}

.inner-container {
    margin-left: 207px;
    height: 100vh;
    width: 100%;
    overflow: scroll;
}

.button-container {
    position: fixed;
    height: calc(100vh - 72px);
}