.btnContainer {
    width: 276px;
    height: 48px;
    display: flex;
    justify-content: space-around;
}

.btnContainer button {
    min-width: 123px;
    height: auto;
    padding: 10px 8px;
    border: 2px solid #604EF8;
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    border-radius: 5px;
    line-height: 1.8;
}

.login {
    background-color: white;

}

.signup {
    background-color: #604EF8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
